{% extends "chat/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <textarea
    readonly
    class="form-control"
    id="chat-log"
    cols="100"
    rows="20"
    style="
      resize: none;
      border: none;
      border-color: none;
      box-shadow: none;
      outline: none;
      cursor: none;
    "
  ></textarea
  ><br />
  <input
    class="form-control"
    id="chat-message-input"
    type="text"
    size="100"
  /><br />
  <input
    class="form-control"
    id="chat-message-submit"
    type="button"
    value="Send"
  />

  {{ room_name|json_script:"room-name" }}
  <script>
    const roomName = JSON.parse(
      document.getElementById('room-name').textContent
    );

    const chatSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat-log').value += data.message + '\n';
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
      if (e.keyCode === 13) {
        // enter, return
        document.querySelector('#chat-message-submit').click();
      }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      chatSocket.send(
        JSON.stringify({
          message: message,
        })
      );
      messageInputDom.value = '';
    };
  </script>
</div>
{% endblock content %}
